benchmarks/vae/maps
cache
**/ckpts/**
*.code-workspace
*.csv
.DS_Store
.env
*.gif
img_align_celeba
*log.txt
**/multirun/**
*.npy
*.npz
*.nu
**/outputs/**
*.pdf
*.pkl
*.png
__pycache__
.python-version
**/results/**
*.sh
tmp
**.vscode/**
**/wandb/**
